/* Champions */
/* Css cho tuong */

html {
    overflow-y: scroll;
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url(../Images/5v5.png) center center fixed no-repeat;
    font-family: monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(37,37,37,.85);
    z-index: -1;
}

body,
div,
img,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dd,
dt,
blockquote,
fieldset,
legend,
label,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    outline: none !important;
}

div {
    display: block;
}


button {
    background: #fff;
    border: none;
    outline: none !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: rgb(0,0,0);
    text-decoration: none;
    outline: none!important;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    height: auto;
    border: 0 nobackground-colorne;
    max-width: 100%;
}
/* the div contains all the page */
.wrapper-page {
    min-width: 805px;
}
/* Head wrapper */
.content {
    display: flex;
    width: 100%;
}

._bca1{
    background-color: rgb(22, 14, 30);
}

.inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.head-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.logo {
    width: 250px;
    position: absolute;
    top:-50px;
    left: 50%;
    margin-left: -130px;
}

.menu-top {
    overflow: hidden;
}

.menu-top li {
    float: left;
}

.menu-top li a {
    color: rgb(255,255,255);
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 60px;
    display: inline-block;
    background: url(../Images/Icon-Logo/line-nav.jpg) center left no-repeat;
}

.menu-top li:nth-of-type(1) {
    float: right;
}

.menu-top li:nth-of-type(2){
    float: right;
}

.menu-top li:nth-of-type(2) a {
    background: none;
}

.head-content {
    position: relative;
    margin-top: 0px;
    background-color: rgba(20, 19, 19, 0.4);
}

.content-body {
    position: relative;
    margin-top: 0px;
    background-color: rgba(20, 19, 19, 0.4);
}

.tp-cr {
    width: 100%;
    min-width: 375px;
}

.sp-ct {
    margin-top: 80px;
}

.para-inner {
    text-align: left;
    margin-left: 9px;
    margin-right: 9px;
}

/* Guiding content css */
.h-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 375px;
    width: 100%;
    max-width: 1600px;
}
.lane-content {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}

.content-details {
    gap:10px;
    grid-gap: 10px;
}
.text-ac {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    border-bottom: 2px solid ;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}

.filter {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 999;
}

.ft-inner {
    width: 100%;
    height: 28px;
    padding: 5px 8px;
    font-size: 13px;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
}

.empty-space {
    width: 320px;
    flex-shrink: 0;
}

/* Adjust the circle lane and role */
.image-inner {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1.0/1.0;
}

.champ-role {
    display: flex;
    justify-content: center;
    align-items: center;
}

.champ-lane {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

/* Adjust the circle lane and role */

.spct-st {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    width: 100%;
    max-width: 1475px;
    z-index: 99;
    position: relative;
}

.tp-cr>* {
    display: flex;
    justify-content: center;
}
/* Description */
.descript {
    text-shadow: 0 0 20px #000;
}

.descript-pos {
    margin-top: 8px;
    margin-left: -8px;
    border-top: 2px solid gray;
}

.descript-bg {
    background-color: rgba(1,1,1,.6);
    margin-right: -8px;
}

.descript-text {
    display: flex;
    white-space: nowrap;
}

.tier-value {
    color:rgb(0, 255, 0);
}
/* Body content guiding css */

.spl-st {
    flex-direction: row;
}

.bct {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 375px;
    width: 100%;
    max-width: 1600px;
}

.ct-grid {
    gap: 5px;
    grid-gap: 5px;
}

.bct-inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.bct-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.bct-bg {
    background-color: rgb(75,75,75);
}

.bct-title {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    padding-top:10px;
    padding-bottom: 10px;
}
.bct-p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 10px;
    flex-grow: 1;
}
.group-gap {
    box-sizing: border-box;
    border: 2px solid rgb(251 175 23);
}

.spell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.bct-text {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
    width: calc(50% - 2.5px);
    min-width: 375px;
    max-width: 100%;
}

.bct-text>* {
    width: 100%;
    flex-shrink: 1;

}

.rating {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

.win {
    padding-left: 6px;
    padding-right: 6px;
}

.pick {
    padding-left: 6px;
    padding-right: 6px;
}

.rating-inner.even {
    background-color: #353535;
}

.rating-inner.odd {
    background-color: #252525;
}


.rating-inner:nth-child(odd) {
    background-color: #252525;
}

.rating-inner:nth-child(even) {
    background-color: #353535;
}

img {
    vertical-align: middle;
}

.other-spell {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
}
/* Items */
.items {
    padding: 5px;
    margin: 0;
    height: auto;
    vertical-align:top;
    box-sizing: border-box;
}

.items-pos {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
}

.items-st {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.itemsin-st {
    box-sizing: border-box;
    border: none;
}

.badge {
    width:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge-st {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.be {
    width: 66px;
}

.badge-2 {
    position: relative;
    top:-40px;
    left:18px;
    margin-bottom: -38px;
}


.ct-sd {
    display: flex;
    flex-direction: column;
}

/* SKill table */
.skill-table {
    display: inline-block;
    float: none;
    text-align: left;
}

.skills {
    background-color: #252525;
}

.skill-inner {
    padding-right: 3px;
    padding-left: 3px;
    text-align: center;
    border-left: 1px solid #000;
    border-right:1px solid #000;
    font-size: 18px;
    min-width: 20px;
    font-weight: 700;
}

@media (max-width:965px) {
    .skill-inner {
        font-size: 10px;
        padding-right: 2px;
        padding-left: 2px;
        min-width: 14px;
    }
}
.skills-st {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
td, th {
    padding: 0;
}

.spec-item {
    box-sizing: border-box;
    border:2px solid rgb(251 175 23);

}

.hidden {
    display: none!important;
}

.badge .activerunes-image {
    -webkit-filter: grayscale(.9);
    filter: grayscale(.9);
}

.tab-selected .activerunes-image {
    -webkit-filter: none;
    filter: none;
}

.b-hover .drop-hover {
    -webkit-filter: drop-shadow(1px 1px 0 #FBAF17) drop-shadow(-1px 1px 0 #FBAF17) drop-shadow(1px -1px 0 #FBAF17) drop-shadow(-1px -1px 0 #FBAF17) drop-shadow(black 0px 0px 5px)
    !important;
    filter: drop-shadow(1px 1px 0 #FBAF17) drop-shadow(-1px 1px 0 #FBAF17) drop-shadow(1px -1px 0 #FBAF17) drop-shadow(-1px -1px 0 #FBAF17) drop-shadow(black 0px 0px 5px)
    !important
}

.b-hover:hover .drop-no-shadow {
    -webkit-filter: drop-shadow(1px 1px 0 #FBAF17) drop-shadow(-1px 1px 0 #FBAF17) drop-shadow(1px -1px 0 #FBAF17) drop-shadow(-1px -1px 0 #FBAF17)
    !important;
    -o-filter: drop-shadow(1px 1px 0 #FBAF17) drop-shadow(-1px 1px 0 #FBAF17) drop-shadow(1px -1px 0 #FBAF17) drop-shadow(-1px -1px 0 #FBAF17)
    !important;
    filter: drop-shadow(1px 1px 0 #FBAF17) drop-shadow(-1px 1px 0 #FBAF17) drop-shadow(1px -1px 0 #FBAF17) drop-shadow(-1px -1px 0 #FBAF17)
    !important
}

.b-hover:hover .svg-hover {
    background-color: #000!important
}

.b-hover:hover .text-underline {
    color: #fbaf17!important;
    -webkit-text-decoration: underline!important;
    -moz-text-decoration: underline!important;
    text-decoration: underline!important;
    -webkit-text-decoration-style: solid!important;
    -moz-text-decoration-style: solid!important;
    text-decoration-style: solid!important
}

.b-hover:hover .text-hover {
    color: #fbaf17!important
}

.b-hover:hover .before-hover::before {
    border-bottom-color: #fbaf17
}

.b-hover:hover .after-hover::after {
    border-top-color: #fbaf17
}

/* COUNTERS */
/* filter lane and search bar */
@media(max-width:1605px) {

    .counters {
        gap: 3px;
        grid-gap:3px;
        flex-direction: column;
    }
}
.counters {
    display: flex;
}

@media(max-width:1605px) {
    .counters>* {
        width: 100%!important;
    }
}
@media(max-width:1605px) {
    .tkln-name {
        display: none!important;
    }
}

.te-st>* {
    width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
}

.lane-tick {
    padding-left: 0;
    padding-right: 0;
    margin-left: .33%;
}

.lane-tick:first-child {
    margin-left: 0;
}


.tkln-st {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    color: #fff!important;
}

.tick-st {
    display: inline-block;
    border: 1px solid #777;
    border-radius: 5px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin: 3px;
}

.search-counters {
    margin-right: 0;
    color: #000;
    padding-right: 0;
    padding-left: 0;
    margin-left: .33%;
    width: 20%;
}

.tkln-st :checked+span>.tick-st {
    background-color: #fbaf17;
    border-color: #000;
}

/* champion counters part */
.counter-content {
    padding: 10px;
}

.champct-title {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

.counters-grid {
    display: flex;
    flex-wrap: wrap;
}

.champct-item {
    padding: 5px 5px 0;
    margin: 0;
    height: auto;
    vertical-align: top;
    border: 1px solid #000;
    box-shadow: 0 0 5px #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.champct-st {
    width: 52px;
}

.counters-st {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.champct-name {
    font-size: .9em;
    color: #fff;
    display: flex;
    margin: 5% 0;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}

.background {
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

/* Content wrapper */
.ch-ct {
    gap: 40px;
    grid-gap:40px;
}

.content-wrapper {
    display:flex;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.color-bg {
    background-color: rgb(55, 55, 55);
}
.sp-a1 {
    position: absolute;
    padding-right: 0;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    overflow: hidden;
}
.champ-style {
    border-style: solid;
    border-width: 4px;
    border-color: rgb(102, 136, 243);
    background-color: rgb(102, 136, 243);
}

.img-role {
    filter: drop-shadow(0 0 1px black);
    margin: 3px;
}

.title {
    text-shadow: 0 0 10px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-inner2 {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.spct-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.map-mode {
    width: 100%;
    margin-top:2.6%;
    display: flex;
    justify-content: space-evenly;
}
.ge-st {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    border-bottom: 2px solid;
    filter: drop-shadow(0 0 10px black);
}

.ge-st.active {
    border-bottom-color: rgb(251, 175, 23)!important;
}

.ge-st.active .text-hover {
    color: rgb(251, 175, 23)!important;
}
.name-map {
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    grid-gap: 5px;
}

/* champ lane and role */
.champ-border {
    box-shadow: inset 0 0 1px 1px #000;
}

